@model CheckoutPaymentViewModel

@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row d-flex justify-content-start">
        <div class="col-md-6 pl-4">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body p-0">

                </div>
                <!-- /.card-body -->

                <div class="card-footer row justify-content-between m-0 px-0">
                    <div class="col-5 pl-0 m-0" style="display: inline-block;">
                        <p class="text-right p-0 m-0">
                            <a asp-controller="Profile" 
                               asp-action="Index" 
                               class="btn btn-sm btn-secondary">Back to Profile
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /.card-footer -->

            </div>
        </div>
    </div>
</section>

