@model AdminCityDetailsServiceModel
@{
    ViewData["Title"] = "Country Administration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div class="content-wrapper">
        <h2 class="text-left pl-3 pt-2">@ViewData["Title"]</h2>
        <br />
        <br />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header" style="background-color: #17A2B8">
                                <h3 class="card-title">Remove City from List</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form" method="post" asp-controller="Cities" asp-action="Delete">
                                <div class="card-body">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="Name">City Name</label>
                                        <input disabled asp-for="Name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Country">Country</label>
                                        <input disabled type="text" asp-for="Country" class="form-control col-6">
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <partial name="_ButtonDeleteAndBackToListPartial" model="Model.Id" />
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
</body>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}