[*.cs]

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent
