@model OwnerDashboardViewModel

@{
    this.ViewData["Title"] = "Management Dashboard";
}

<h1 class="text-center text-info">@this.ViewData["Title"]</h1>
<!--Settings: this.Model.SettingsCount-->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-5 pt-4">
                <!-- TABLE: My PROPERTIES -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>My Properties</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th class="pl-3 pr-1">City</th>
                                        <th>Address</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="col-1 py-1 pl-3 pr-1"
                                            style='vertical-align:middle'>
                                            Berlin
                                        </td>

                                        <td class="col-8 py-1 pl-2 pr-1" style='vertical-align:middle'>17, Damerowstrasse, 13187</td>

                                        <td class="col-1 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            <span class="badge badge-info">Apartment</span>
                                        </td>

                                        <td class="col-1 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            <span class="badge badge-success">Managed</span>
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                            <a asp-controller="Properties"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-1 py-1 pl-3 pr-1"
                                            style='vertical-align:middle'>
                                            Berlin
                                        </td>

                                        <td class="col-8 py-1 px-1" style='vertical-align:middle'>17, Damerowstrasse, 13187</td>

                                        <td class="col-1 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            <span class="badge badge-info">Apartment</span>
                                        </td>

                                        <td class="col-1 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            <span class="badge badge-warning">To Manage</span>
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                            <a asp-controller="Properties"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-1 py-1 pl-3 pr-1"
                                            style='vertical-align:middle'>
                                            Berlin
                                        </td>

                                        <td class="col-8 py-1 px-1" style='vertical-align:middle'>17, Damerowstrasse, 13187</td>

                                        <td class="col-1 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            <span class="badge badge-info">Apartment</span>
                                        </td>

                                        <td class="col-1 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            <span class="badge badge-danger">To Rent</span>
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                            <a asp-controller="Properties"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-between m-0 px-0">
                        <div class="col-6 pl-3 pr-0" style="display: inline-block;">
                            <partial name="_ButtonCreatePartial" />
                        </div>
                        <div class="col-5 pl-0 m-0" style="display: inline-block;">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Listings" asp-action="Index" class="btn btn-secondary"><i class="fas fa-eye"></i> &nbsp; View More</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-7 pt-4">
                <!-- TABLE: REQUESTS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Requests</strong></h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th class="px-3">Date</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-1 py-1 px-3" style='vertical-align:middle'>12/03/2020</td>
                                        <td class="col-1 py-1" style='vertical-align:middle'><span class="badge badge-success">To Rent</span></td>
                                        <td class="col-3 py-1 px-3" style='vertical-align:middle'>Darincho Rusevski</td>
                                        <td class="col-5 py-1 px-3" style='vertical-align:middle'>Berlin, 17, Damerowstrasse, 13187</td>
                                        <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                            <a asp-controller="Requests"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-1 py-1 px-3" style='vertical-align:middle'>12/03/2020</td>
                                        <td class="col-2 py-1" style='vertical-align:middle'><span class="badge badge-warning">To Manage</span></td>
                                        <td class="col-3 py-1 px-3" style='vertical-align:middle'>Kanalin Tsolov</td>
                                        <td class="col-5 py-1 px-3" style='vertical-align:middle'>Berlin, 17, Damerowstrasse, 13187</td>
                                        <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                            <a asp-controller="Requests"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-1 py-1 px-3" style='vertical-align:middle'>12/03/2020</td>
                                        <td class="col-2 py-1" style='vertical-align:middle'><span class="badge badge-danger">Cancel Rent</span></td>
                                        <td class="col-3 py-1 px-3" style='vertical-align:middle'>Schunko Svinski</td>
                                        <td class="col-5 py-1 px-3" style='vertical-align:middle'>Berlin, 17, Damerowstrasse, 13187</td>
                                        <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                            <a asp-controller="Requests"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-1 py-1 px-3" style='vertical-align:middle'>12/03/2020</td>
                                        <td class="col-2 py-1" style='vertical-align:middle'><span class="badge badge-danger">Cancel Manage</span></td>
                                        <td class="col-3 py-1 px-3" style='vertical-align:middle'>Prasemir Butonoskov</td>
                                        <td class="col-5 py-1 px-3" style='vertical-align:middle'>Berlin, 17, Damerowstrasse, 13187</td>
                                        <td class="col-1 py-1 pl-0 pr-3" style='vertical-align:middle'>
                                            <a asp-controller="Requests"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-end m-0 pr-3">
                        <div class="col-12">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Requests" asp-action="Index" class="btn btn-secondary"><i class="fas fa-eye"></i> &nbsp; View All</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <div class="row">
            <div class="col-5 pt-2">
                <!-- TABLE: RENTALS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title text-info"><strong>Rentals</strong></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Start Date</th>
                                        <th>Duration</th>
                                        <th>Address</th>
                                        <th>Tenant</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="col-3 py-1 pl-3 pr-1"
                                            style='vertical-align:middle'>
                                            12/03/2020
                                        </td>

                                        <td class="col-1 py-1 pl-2 pr-1" style='vertical-align:middle'>24</td>

                                        <td class="col-4 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            17, Damerowstrasse, 13187
                                        </td>

                                        <td class="col-3 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            Shunko Svinski
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                            <a asp-controller="Properties"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-3 py-1 pl-3 pr-1"
                                            style='vertical-align:middle'>
                                            12/03/2020
                                        </td>

                                        <td class="col-1 py-1 pl-2 pr-1" style='vertical-align:middle'>24</td>

                                        <td class="col-4 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            17, Damerowstrasse, 13187
                                        </td>

                                        <td class="col-3 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            Shunko Svinski
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                            <a asp-controller="Properties"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-3 py-1 pl-3 pr-1"
                                            style='vertical-align:middle'>
                                            12/03/2020
                                        </td>

                                        <td class="col-1 py-1 pl-2 pr-1" style='vertical-align:middle'>24</td>

                                        <td class="col-4 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            17, Damerowstrasse, 13187
                                        </td>

                                        <td class="col-3 py-1 px-1" style='text-align:center; vertical-align:middle'>
                                            Shunko Svinski
                                        </td>

                                        <td class="col-1 py-1 pl-0 pr-2" style='vertical-align:middle'>
                                            <a asp-controller="Properties"
                                               asp-action="Details"
                                               asp-route-Id="id"
                                               style="display:block; margin-bottom:-10px">
                                                <ion-icon size="large" name="list-outline"></ion-icon>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer row justify-content-end m-0 px-0">
                        <div class="col-12">
                            <p class="text-right p-0 m-0">
                                <a asp-controller="Rentals" asp-action="Index" class="btn btn-secondary"><i class="fas fa-eye"></i> &nbsp; View More</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->