/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.home-search-results {
    padding-top: 150px;
}

.search-background {
    background-image: url('../img/search-background.jpg');
}

.jumboHeroImage {
    background-image: url("../img/city-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

/***************************************************************/

.formBox {
    margin-top: 90px;
    padding: 50px;
}

.formBox h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}

.inputField {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
}

    .inputField .inputText {
        position: absolute;
        font-size: 16px;
        line-height: 20px;
        transition: .5s;
        opacity: .5;
    }

    .inputField .input {
        position: relative;
        width: 100%;
        height: 20px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        border-bottom: 1px solid rgba(0,0,0,.5);
    }

.focus .inputText {
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    color: #00bcd4;
}

textarea {
    height: 100px !important;
}


