/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.home-search-results {
    padding-top: 150px;
}

.search-background {
    background-image: url('../img/search-background.jpg');
}

.jumboHeroImage {
    background-image: url("../img/city-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

/***************************************************************/

.formBox {
    margin-top: 90px;
    padding: 50px;
}

.formBox h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}

.inputField {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 35px;
}

    .inputField .inputText {
        position: absolute;
        font-size: 20px;
        line-height: 20px;
        transition: .5s;
        opacity: .5;
    }

    .inputField .input {
        position: relative;
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        color: dimgrey;
        border-bottom: 1px solid rgba(0,0,0,.5);
    }

.focus .inputText {
    transform: translateY(-30px);
    font-size: 20px;
    opacity: 1;
    color: #00bcd4;
}

.inputTextFixed {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    transition: .5s;
    opacity: .5;
    transform: translateY(10px);
}

textarea {
    height: 100px !important;
}

.inputFixed {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    opacity: .5;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
textAreaFixed {
    font-size: 20px;
    opacity: .5;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 46px;
    background: rgba(255,255,255,.90);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.3);
}

.search_input {
    font-size: 15px;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color: transparent;
    line-height: 26px;
    padding: 0 10px;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: #FF5581;
}

.searchbar:hover > .search_icon {
    color: #FF5581;
}

.search_icon {
    height: 26px;
    width: 26px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: dimgrey;
    text-decoration: none;
    
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Background styles */
    background-image: url("../img/account_ny_hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backgroundWhite {
    background-color: #ffffff99;
    margin-top: 120px;
}

/***********************  NavBar DropDown **********************/

/***********************  Icon Buttons **********************/
.btn-label {
    position: relative;
    left: -8px;
    display: inline-block;
    padding: 4px 6px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}


/* PAGINATION */
.pagination {
    float: right;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .page-link:focus {
        z-index: 2;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #ffffff;
    border-color: #dee2e6;
}

.form-area {
    background-color: #ffffff89;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid #ffffff50;
}

.contact-bg {
    min-height: 100vh;
    padding: 0;
    background-image: url('../img/hd_binary.jpg');
    /*background-image: url('../img/hd_binary.jpg')*/
}

.add-listing-bg {
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient(#ffffff50, #ffffff50), url('../img/add-listing-background.jpg');
    /*background-image: url('../img/hd_binary.jpg')*/
}