@model ManageCancellationRequestInputModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron jumbotron-fluid jumboHeroImage">
</section>
<!-- Hero Section End -->

<section class="content" style="padding-top:0px;padding-bottom:100px">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 pt-4">
            <!-- TABLE: Add New Listing -->
            <div class="card shadow">
                <div class="card-header border-transparent pb-0">
                    <div class="row justify-content-between">
                        <div class="col-7">
                            <h3 class="card-title text-info"><strong>Request for Management Cancellation</strong></h3>
                        </div>
                        <div class="col-4 text-right">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <!-- form start -->
                    <form asp-controller="ManagedHomes"
                          asp-action="HomeDetails"
                          method="post"
                          role="form"
                          enctype="multipart/form-data">
                        <input type="hidden" asp-for="HomeInfo.Id" name="Id" />
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <img src="@Model.HomeInfo.Image" class="img-fluid" alt="Responsive image">
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="HomeInfo.Location" class="col-form-label">Location</label>
                                <input class="form-control" disabled placeholder="@Model.HomeInfo.Location">
                            </div>
                            <div class="form-group">
                                <label asp-for="HomeInfo.Owner">Owner</label>
                                <input class="form-control" disabled placeholder="Owner">
                            </div>
                            <div class="form-group">
                                <label asp-for="Message" class="col-form-label">Message</label>
                                <textarea asp-for="Message" class="form-control" rows="5" placeholder="Enter message..."></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <label class="text-danger pb-2" style="opacity: .5;">
                                Upload the PDF cancellation form
                            </label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input asp-for="Document"
                                           type="file"
                                           accept=".pdf" />
                                    <span asp-validation-for="Document" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row justify-content-center pt-4">
                                <dvi class="col-md-6">
                                    <button type="submit"
                                            class="btn btn-info btn-block mx-auto">
                                        Submit
                                    </button>
                                </dvi>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </form>
                    <!-- /.form (end) -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}