@model PropertyListByCategoryViewModel

@{
    ViewData["Title"] = $"All Listings from category {Model.Category} :";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron jumbotron-fluid jumboHeroImage">
</section>
<!-- Hero Section End -->

<section>
    <div class="container-fluid pb-4">
        <h2 class="pl-lg-5"
            style="color:#FF5581">
            <strong>@ViewData["Title"]</strong>
        </h2>

        <div class="row px-lg-5 pb-4">
            <div class="col-12">
                <hr class="hr-2" />
            </div>
        </div>

        @if (Model.Properties.Any())
        {
            <section class="categories-section spad pb-0">
                <div class="container-fluid">
                    <div class="row">
                        @await Html.PartialAsync("_PropertyListPartial", Model.Properties)
                    </div>
                </div>
            </section>
        }
        else
        {
            <h2 class="text-left home-search-results pl-lg-5"
                style="color:#FF5581">
                <strong>No listings found.</strong>
            </h2>
        }
    </div>
</section>
