
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron jumbotron-fluid jumboHeroImage">
</section>
<!-- Hero Section End -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2 class="text-left pl-lg-5">
                    <strong>Great Apartment in Berlin Pankow</strong>
                </h2>
                <h5 class="text-secondary text-left pl-lg-5 pt-1">Berlin, Germany</h5>
            </div>
        </div>

        <div class="row px-lg-5 pb-1">
            <div class="col-12">
                <hr class="hr-2" />
            </div>
        </div>

        <div class="row pt-1">
            <div class="col-6">
                <h3 class="text-left pl-lg-5">
                    <strong class="text-secondary">The home is hosted by Radina</strong>
                </h3>
                <div class="text-left pl-lg-5">
                    <div class="text-muted pt-2">17, Damerowstrasse, 13187<span class="float-right"><strong>Price: $900/ Month</strong></span></div>
                    <hr />
                    <strong><i class="far fa-file-alt mr-1"></i>Listing Details</strong>
                    <div class="row">
                        <div class="col-3">
                            <hr class="hr-2 mt-1" />
                        </div>
                    </div>
                    <p class="text-muted">
                        In fact, a similar anger exists within segments of the white community. I have unequivocally prohibited the use of torture by the United States, and I have ordered the prison at Guantanamo Bay closed by early next year.

                        If there's a senior citizen somewhere who can't pay for their prescription drugs, and has to choose between medicine and the rent, that makes my life poorer, even if it's not my grandparent. The hope of a young naval lieutenant bravely patrolling the Mekong Delta. But what I will not do is suggest that the Senator takes his positions for political purposes. The victims were innocent men, women and children from America and many other nations who had done nothing to harm anybody. Since the Islamic Revolution, Iran has played a role in acts of hostage-taking and violence against U.S.
                    </p>

                    <hr>
                    <p>
                        <a asp-controller="Requests" asp-action="RequestForm" class="btn btn-success">Request To Rent</a>
                    </p>
                </div>

                

            </div>
            <div class="col-6">
                <img src="~/img/wp2406709.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</section>


