@{
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}
@if (!string.IsNullOrEmpty(type))
{
    <div class="row justify-content-center">
        <div class="d-flex justify-content-center alert alert-@type alert-dismissible text-center text-white col-md-4 align-center"
             role="alert"
             style="z-index:1000;
                height:200px;
                position:fixed;
                top:100px;
                bottom:auto;
                margin-left:auto;
                margin-right:auto;
                margin-top:auto;
                margin-bottom:auto;
                border-radius:0;
                border:none;
                text-align:center;
                font-size:25px;
                font-weight:700">
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>@title</strong>
            <div class="pl-4"
                 style="margin-top:auto;margin-bottom:auto">@body
            </div>
        </div>
    </div>
}
