@if (this.User.IsInRole(OwnerRoleName))
{
    <p class="text-left p-0 m-0">
        <a asp-controller="Listings" asp-action="Create" class="btn btn-sm btn-info"><i class="fas fa-plus"></i> &nbsp; Create New</a>
    </p>
}
else
{
    <p>
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create New</a>
    </p>
}
    
