@model HomeIndexViewModel

<link rel="stylesheet" href="~/css/sitecustom.css">

@using RPM.Common
@using System.Text
@{
    this.ViewData["Title"] = "Home Page";
}
<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="/img/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-text">
                    <img src="/img/placeholder.png" alt="">
                    <h1>Rent or Manage a Home</h1>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <form asp-action="Search" class="row d-flex justify-content-center">
                    <div class="col-6 pr-0">
                        <input asp-for="SearchText"
                               class="form-control form-control-lg"
                               id="inputlg"
                               placeholder="Search by city..." />
                    </div>
                    <div class="col-2">
                        <input type="submit"
                           value="Search"
                           class="btn btn-lg text-white"
                           style="background-color:#FF5581">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<br>
<!-- Categories Section Begin -->
<section class="categories-section spad pb-0">
    <div class="container-fluid">
        <div class="row">

            @await Html.PartialAsync("_PropertyListByCategoryPartial", Model.PropertiesByCategory)

        </div>
    </div>
</section>
<!-- Categories Section End -->

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <hr class="hr-2" />
        </div>
    </div>
</div>

<a asp-controller="Listings" asp-action="AllToRent">
    <h2 class="text-center" style="color:#FF5581">
        <strong>Latest Listings To Rent</strong>
    </h2>
</a>
<br />
<section class="categories-section spad pb-0">
    <div class="container-fluid">
        <div class="row">

            @await Html.PartialAsync("_PropertyListByStatusPartial",
                Model.PropertiesToRent.Take(4))

        </div>
    </div>
</section>
<!-- Categories Section End -->

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <hr class="hr-2" />
        </div>
    </div>
</div>

<a asp-controller="Listings" asp-action="AllToManage">
    <h2 class="text-center" style="color:#FF5581">
        <strong>Latest Listings To Manage</strong>
    </h2>
</a>
<br />
<section class="categories-section spad pb-0">
    <div class="container-fluid">
        <div class="row">

            @await Html.PartialAsync("_PropertyListByStatusPartial", Model.PropertiesToManage.Take(4))

        </div>
    </div>
</section>
<!-- Categories Section End -->

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <hr class="hr-2" />
        </div>
    </div>
</div>




<section class="work-section set-bg" data-setbg="/img/line-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>How it works</h2>
                    <p>Explore some of the best places in the world</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-work-item">
                    <div class="number">01.</div>
                    <div class="work-text">
                        <h4>Search the portal</h4>
                        <p>Fusce urna quam, euismod sit amet mollis quis.Aliquam erat volutpat. Morbi id dictum quam, ut.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-work-item">
                    <div class="number">02.</div>
                    <div class="work-text">
                        <h4>Choose the one 4u</h4>
                        <p>Euismod sit amet mollis quis. Ali-quam erat volutpat. Morbi id dictum quam, ut commodo lorem. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-work-item">
                    <div class="number">03.</div>
                    <div class="work-text">
                        <h4>Book it!</h4>
                        <p>Euismod sit amet mollis quis. Ali-quam erat volutpat. Morbi id dictum quam, ut commodo lorem. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How It Works Section End -->
