@using RPM.Common
@using System.Text


@model HomeIndexViewModel

<link rel="stylesheet" href="~/css/sitecustom.css">

@{
    this.ViewData["Title"] = "Home Page";
}
<!-- Hero Section Begin -->
@if (this.User.Identity.IsAuthenticated &&
(this.User.IsInRole(GlobalConstants.ViewerRoleName)
|| this.User.IsInRole(GlobalConstants.ManagerRoleName)))
{
    <section class="jumbotron jumbotron-fluid jumboHeroImage">
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-12 pt-5">
                    <form asp-action="Search" class="row d-flex justify-content-center">
                        <div class="col-6 pr-0">
                            <input asp-for="SearchText"
                                   class="form-control form-control-lg"
                                   id="inputlg"
                                   placeholder="Search by city..." />
                        </div>
                        <div class="col-2">
                            <input type="submit"
                                   value="Search"
                                   class="btn btn-lg text-white"
                                   style="background-color:#FF5581">
                        </div>

                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
}
else
{
    <section class="hero-section set-bg" data-setbg="/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/img/placeholder.png" alt="">
                        <h1>Rent or Manage a Home</h1>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-12">
                    <form asp-action="Search" class="row d-flex justify-content-center">
                        <div class="col-6 pr-0">
                            <input asp-for="SearchText"
                                   class="form-control form-control-lg"
                                   id="inputlg"
                                   placeholder="Search by city..." />
                        </div>
                        <div class="col-2">
                            <input type="submit"
                                   value="Search"
                                   class="btn btn-lg text-white"
                                   style="background-color:#FF5581">
                        </div>

                    </form>

                    <!--TO TEST FURTHER-->
                    <div class="col-6 searchbar">
                        <input asp-for="SearchText"
                               class="search_input"
                               placeholder="Search by city..." />
                        <a class="search_icon"><ion-icon name="search-outline"></ion-icon></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
}
<!-- Hero Section End -->
<br>

<!-- TEST SECTION Begin -->
<div class="container">
    <div class="col-10">
        <div id="example">
            <table class="display table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 33; i++)
                    {
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- TEST SECTION End -->

<br />
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <hr class="hr-2" />
        </div>
    </div>
</div>

@section Scripts{
    <!--TEST Table Paging-->
    <script src="~/js/paginator.js"></script>
    <script>
        var box = paginator({
            table: document.getElementById("example").getElementsByTagName("table")[0],
            box_mode: "list",
        });

        box.className = "box";

        document
            .getElementById("example")
            .appendChild(box);
    </script>
}
